body {
    background-image: url(tape\ photo.png);
    background-size: 80%; background-repeat: no-repeat;
    background-color: rgba(248, 190, 81, 0.562);
    font-size: larger;
    color: rgb(119, 5, 5);
}
h1 {
    color: rgb(180, 21, 34);
}
a {
    font-size: 1.5pc;
}