body {
    background-color:rgb(200, 255, 0);
    }
p {
    color: rgb(255, 0, 0);
}

ol > li {
    color:orange
}
#head {
    color:magenta
}

#head {
    color:black !important
}

p {
    color: green
}
span {
    color: inherit
}